
 .clientBackground {
      background-color: #015A82;
      height: 92.9vh;
      padding-top: 15vh;
  }
 .categoryBackground {
     background-color: #015A82;
     height: 92.9vh;
     padding-top: 15vh;
 }
 .subCategoryBackground {
     background-color: #015A82;
     height: 92.9vh;
     padding-top: 15vh;
 }
 .auditBackground {
      background-color: #015A82;
     height: 100%;
     padding-bottom: 15vh;
      padding-top: 15vh;
  }
 .questionBackground {
     background-color: #015A82;
     height: 92.9vh;
     padding-bottom: 15vh;
     padding-top: 11vh;
 }
 .flagBackground {
     background-color: #015A82;
     height: 92.9vh;
     padding-bottom: 15vh;
     padding-top: 11vh;
 }

.scorerSeparation {
    border-width: 4px;
    border-color: #015A82;
}

 .form-group #errormessage{
     color: red;
 }

 .long {
     width: 100%!important;
 }
 .multiple-task[size] {
     height: auto !important;
     max-height: 156px !important;
 }