/* body {
    background: rgb(204,204,204);
}
.page[size="A4"] {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    border: 1.25cm solid white;
}

@media print {
    body, .page[size="A4"] {
        margin: 0;
        box-shadow: none;
    }
}
*/
.borderless {
    border: none!important;
}

.break {
    page-break-before: always;
}

.hidden {
    display:none;
}

.tb-t {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.tb-l {
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.tb-r {
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.tb-b {
    border-top: none;
    border-left: none;
    border-right: none;
}

.tb-br {
    border-top: none;
    border-left: none;
}

.blank {
    color: #ffffff;
}