/* body {
    background: rgb(204,204,204);
}
.page[size="A4"] {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    border: 1.25cm solid white;
}

@media print {
    body, .page[size="A4"] {
        margin: 0;
        box-shadow: none;
    }
}
*/
.borderless {
    border: none!important;
}

.break {
    page-break-before: always;
}

.hidden {
    display:none;
}

.tb-t {
    border-left: none!important;
    border-right: none!important;
    border-bottom: none!important;
}

.tb-l {
    border-top: none!important;
    border-right: none!important;
    border-bottom: none!important;
}

.tb-r {
    border-top: none!important;
    border-left: none!important;
    border-bottom: none!important;
}

.tb-b {
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
}

.tb-tr {
      border-left: none!important;
      border-bottom: none!important;
}

.tb-tl {
    border-right: none!important;
    border-bottom: none!important;
}

.tb-br {
    border-top: none!important;
    border-left: none!important;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.blank
{
    color: #FFFFFF;
}
.dark {
    color:#fff;
    background-color:#343a40;
    border-color:#454d55
}